 body{
	 margin:0px;
	 border:0px;
 }
 #header{
	  font-family: Verdana, Arial, Helvetica, sans-serif;
	 font-size:21px;
	 font-weight: bold;
	 width:100%;
	 height:150px;
	 background:#581845;
	 color:white;
 }
 #slider{
	 width:250px;
	 height: 452px;
	 background:#581845;
	 float: left;
	
}
#slider2{
	 width:250px;
	 height: 225px;
	 background:#581845;
	 float: left;
	
}
 #data{
	 height:700px;
	 background:#E5E7E9;
 }
 #adminLogo{
	 
	 border-radius:50px;
	 height:70px;
	 width:70px;
	 padding-top:15px; 
 }
 #slider ul{
	 list-style:none;
	 margin-top:0;
	 padding-left:0px;
	 
	 
 }
 #slider2 ul{
	 list-style:none;
	 margin-top:0;
	 padding-left:0px;
	 
	 
 }
 #slider ul li{
	 padding:15px; 
	 position:relative;
	 width:215px;
	 background-color:#34495E;
	 border-top: 1px solid #BDC3C7;
 }
 #slider2 ul li{
	 padding:15px; 
	 position:relative;
	 width:215px;
	 background-color:#34495E;
	 border-top: 1px solid #BDC3C7;
 }
 #slider ul li:hover{
	font-size:23px;
	transition: all .5s ease;
	background-color:brown;
 }
 #slider2 ul li:hover{
	font-size:23px;
	transition: all .5s ease;
	background-color:brown;
 }
 #slider ul li a{
	 color: #fff;
	 text-decoration: none;
 }
 #slider2 ul li a{
	 color: #fff;
	 text-decoration: none;
 }
 table {
   border-collapse: collapse;
   width: 80%;
   color: #588c7e;
   font-family: monospace;
   font-size: 15px;
   text-align: left;
   float:right;
   
}
th{
   background-color: #588c7e;
   color: white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
.viewbutton{
	border-radius:50px;
	height:70px;
	width:70px;
	padding-top:15px;
	padding-left:3px;
	
}
.viewline{
  color:#581845;	
  padding-top:15px;
float:left;
padding-left:10px;
	  
}
.txtfield{
	border-radius:5px;
	height:40px;
	width:50%;
	padding:10px;
	margin-bottom:10px;
	margin-left:80px;
	float:bottom;
	
}
.btn{
	padding:10px;
	border-radius:7px;
	background-color:brown;
	color:#fff;
	font-size:15px;
	margin:10px 0px 0px 15px;
}
.txtfield2{
	border-radius:5px;
	height:90px;
	width:50%;
	padding:10px;
	margin-bottom:10px;
	
}
.txtfield3{
	border-radius:5px;
	height:40px;
	width:20%;
	padding:10px;
	margin-bottom:10px;
	margin-left:80px;
	float:bottom;
	
}